@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "my-font", "Noto Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: my-font;
    font-weight: 400;
    src: url(./assets/fonts/regulr.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 400;
    font-style: italic;
    src: url(./assets/fonts/italic.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 300;
    src: url(./assets/fonts/thin.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 300;
    font-style: italic;
    src: url(./assets/fonts/thinItalic.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 500;
    src: url(./assets/fonts/medium.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 500;
    font-style: italic;
    src: url(./assets/fonts/mediumItalic.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 700;
    src: url(./assets/fonts/bold.woff2) format("woff2");
  }
  @font-face {
    font-family: my-font;
    font-weight: 700;
    font-style: italic;
    src: url(./assets/fonts/boldItalic.woff2) format("woff2");
  }
}
